@mixin gradient{
    background:linear-gradient(rgba($primary,.6),rgba($secondary,.6));
};

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }